@import "tailwindcss";

@layer base {
  :root {
    --brand-dark-blue: 32 40 63;    /* #20283f */
    --brand-light-blue: 147 197 253;    /* #93C5FD */
    --brand-primary-blue: 59 130 246;    /* #3B82F6 */
    --brand-black: 13 13 13;   /* #0D0D0D */
    --brand-white: 255 255 255; /* #FFFFFF */
    --brand-new-black:#160602;
    --font-family: 'Raleway', sans-serif;
  }

  body {
    font-family: var(--font-family);
    @apply bg-white text-[rgb(var(--brand-black))] overflow-x-hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Nata Sans', sans-serif;
    @apply font-bold text-[rgb(var(--brand-black))];
  }

  p {
    font-family: var(--font-family);
    @apply text-[rgb(var(--brand-gray))] leading-relaxed;
  }

  ::selection {
    @apply bg-[rgb(var(--brand-teal))] text-white;
  }
}

@layer components {
  .custom-container {
    max-width: 1440px;       /* max width you want */
    margin-inline: auto;     /* center horizontally */
    padding-inline: 1rem;    /* optional padding on left/right */
  }
  .font-nata {
    font-family: 'Nata Sans', sans-serif;
  }
}
